Wine-quality Node-RED Flow.txt
[{"id":"1613ce1.98b5f32","type":"tab","label":"Wine Quality","disabled":false,"info":""},{"id":"1e9a471c.d9c649","type":"http request","z":"1613ce1.98b5f32","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/010cf8d0-4738-4f77-b380-f1e9b70da3e2/deployments/7046a5e0-7daf-4d5f-aa91-8e80610df58d/online","tls":"","proxy":"","x":450,"y":200,"wires":[["48b581e5.453ac","405f05cc.e2d56c"]]},{"id":"48b581e5.453ac","type":"debug","z":"1613ce1.98b5f32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":180,"wires":[]},{"id":"d7a7eb03.386608","type":"http request","z":"1613ce1.98b5f32","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":490,"y":460,"wires":[["da64bb7c.6e7c08","8a056d95.35443"]]},{"id":"8251303b.03d99","type":"inject","z":"1613ce1.98b5f32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["241ffce4.adfa04"]]},{"id":"241ffce4.adfa04","type":"function","z":"1613ce1.98b5f32","name":"inputs","func":"\nglobal.set(\"fixed_acidity\",msg.payload.fixed_acidity)\nglobal.set(\"volatile_acidity\",msg.payload.volatile_acidity)\nglobal.set(\"citric_acid\",msg.payload.citric_acid)\nglobal.set(\"residual_sugar\",msg.payload.residual_sugar)\nglobal.set(\"chlorides\",msg.payload.chlorides)\nglobal.set(\"free_sulfur_dioxide\",msg.payload.free_sulfur_dioxide)\nglobal.set(\"total_sulfur_dioxide\",msg.payload.total_sulfur_dioxide)\nglobal.set(\"density\",msg.payload.density)\nglobal.set(\"pH\",msg.payload.pH)\nglobal.set(\"sulphates\",msg.payload.sulphates)\nglobal.set(\"alcohol\",msg.payload.alcohol)\n//global.set(\"quality\",msg.payload.quality)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":217.00000381469727,"y":440.00000619888306,"wires":[["d7a7eb03.386608"]]},{"id":"405f05cc.e2d56c","type":"function","z":"1613ce1.98b5f32","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][1]\nreturn msg;","outputs":1,"noerr":0,"x":540.0000076293945,"y":312.00000953674316,"wires":[["ad66686f.0dd178"]]},{"id":"da64bb7c.6e7c08","type":"debug","z":"1613ce1.98b5f32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":480,"wires":[]},{"id":"ad66686f.0dd178","type":"ui_text","z":"1613ce1.98b5f32","group":"431af503.8355ac","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":320,"wires":[]},{"id":"7d79a015.7917b","type":"ui_form","z":"1613ce1.98b5f32","name":"","label":"","group":"370f5d6e.e3e222","order":1,"width":0,"height":0,"options":[{"label":"Enter fixed acidity","value":"fixed_acidity","type":"number","required":true},{"label":"Enter volatile acidity","value":"volatile_acidity","type":"number","required":true},{"label":"Enter citric acid","value":"citric_acid","type":"number","required":true},{"label":"Enter residual sugar","value":"residual_sugar","type":"number","required":true},{"label":"Enter chlorides","value":"chlorides","type":"number","required":true},{"label":"Enter free sulfur dioxide","value":"free_sulfur_dioxide","type":"number","required":true},{"label":"Enter total sulfur dioxide","value":"total_sulfur_dioxide","type":"number","required":true},{"label":"Enter density","value":"density","type":"number","required":true},{"label":"Enter pH","value":"pH","type":"number","required":true},{"label":"Enter sulphates","value":"sulphates","type":"number","required":true},{"label":"Enter alcohol","value":"alcohol","type":"number","required":true}],"formValue":{"fixed_acidity":"","volatile_acidity":"","citric_acid":"","residual_sugar":"","chlorides":"","free_sulfur_dioxide":"","total_sulfur_dioxide":"","density":"","pH":"","sulphates":"","alcohol":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":76,"y":566.0000085830688,"wires":[["241ffce4.adfa04"]]},{"id":"10821d82.2af9b2","type":"ui_template","z":"1613ce1.98b5f32","group":"","name":"","order":2,"width":0,"height":0,"format":"<html>\n<head>\n<style>\n\n    body {\n        background-image: url(\"https://previews.123rf.com/images/zoomteam/zoomteam1707/zoomteam170700399/82664371-red-wine-bottle-and-wine-glass-on-wodden-barrel-beautiful-tuscany-background.jpg\");\n        background-repeat: no-repeat;\n        background-size: cover;\n        height:50%;\n    }\n</style>\n</head> \n<body>\n  \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":162,"y":216,"wires":[[]]},{"id":"8a056d95.35443","type":"function","z":"1613ce1.98b5f32","name":"prediction input","func":"var token = msg.payload.token;\nvar fixed_acidity = global.get(\"fixed_acidity\");\nvar volatile_acidity = global.get(\"volatile_acidity\");\nvar citric_acid = global.get(\"citric_acid\");\nvar residual_sugar = global.get(\"residual_sugar\");\nvar chlorides = global.get(\"chlorides\");\nvar free_sulfur_dioxide = global.get(\"free_sulfur_dioxide\");\nvar total_sulfur_dioxide = global.get(\"total_sulfur_dioxide\");\nvar density = global.get(\"density\");\nvar pH = global.get(\"pH\");\nvar sulphates = global.get(\"sulphates\");\nvar alcohol = global.get(\"alcohol\");\n\n\n\nmsg.payload={\"fields\":[\"fixed_acidity\",\"volatile_acidity\",\"citric_acid\",\"residual_sugar\",\"chlorides\",\"free_sulfur_dioxide\",\"total_sulfur_dioxide\",\"density\",\"pH\",\"sulphates\",\"alcohol\"],\"values\":[[fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":332.0000305175781,"y":280.0000114440918,"wires":[["1e9a471c.d9c649"]]},{"id":"431af503.8355ac","type":"ui_group","z":"","name":"Quality of Wine","tab":"a46963a1.557a3","order":2,"disp":true,"width":"6","collapse":false},{"id":"370f5d6e.e3e222","type":"ui_group","z":"","name":"Model Inputs","tab":"a46963a1.557a3","order":1,"disp":true,"width":"6","collapse":false},{"id":"a46963a1.557a3","type":"ui_tab","z":"","name":"Determine the quality of a wine","icon":"dashboard","disabled":false,"hidden":false}]